/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/example/db/*.sqlite3
/example/db/*.sqlite3-*
/example/log/*.log
/example/storage/
/example/tmp/
/example/config/master.key
/example/config/credentials.yml.enc
.gem
